<!-- #region Modal Clientes -->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalCliente" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="form-group col-xs-12 col-md-12">
                                <small>Razón Social</small>
                                <input type="text" class="form-control reqGuardarCliente" id="txtRazonSocial" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-xs-12 col-md-12">
                                <small>Nombre Comercial</small>
                                <input type="text" class="form-control reqGuardarCliente" id="txtNombreComercial" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-xs-12 col-md-12">
                                <small>RFC</small>
                                <input type="text" class="form-control reqGuardarCliente" id="txtRFC" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-xs-12 col-md-12">
                                <small>CURP</small>
                                <input type="text" class="form-control reqGuardarCliente" id="txtCURP" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-xs-12 col-md-12">
                                <small>Dirección</small>
                                <textarea class="form-control reqGuardarCliente" id="txtDireccion" ></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarCliente">Guardar Cliente</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->